html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html {
	background: #f6f6f6;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-rw4if8');
	src:url('fonts/icomoon.eot?#iefix-rw4if8') format('embedded-opentype'),
		url('fonts/icomoon.woff?-rw4if8') format('woff'),
		url('fonts/icomoon.ttf?-rw4if8') format('truetype'),
		url('fonts/icomoon.svg?-rw4if8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
	content: "\e603";
}
.icon-phone:before {
	content: "\e604";
}
.icon-tablet:before {
	content: "\e605";
}
.icon-window:before {
	content: "\e606";
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {

text-decoration: none;
color: #fff;

}

body {
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 400;
	color: #333;
}

#switcher {
	height: 78px;
	background: #fff;
	border-top: 2px solid #e4e4e4;
	z-index: 99999;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	vertical-align: middle;
	z-index: 99999;
}

.logo {
	margin: 0;
	font-family: "open-sans", Arial, sans-serif;
	font-weight: 400;
	color: #444;
	font-size: 19px;
	line-height: 78px;
}

.logo a {
	color: #444;
	text-decoration: none;
}

#theme_list {
	position: relative;
}

#theme_select {
	background: #fff url("../images/arrow.png") no-repeat 96% 14px;
	display: inline-block;
	font-family: "open-sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 15px;
	width: 290px;
	border: 2px solid #e4e4e4;
	color: #444;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 13px 0 0 30px;
}

#theme_dropdown_list {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px;
}

.center {
	margin: auto;
	padding: 0 30px;
	position: relative;
}

.center ul li {
	display: inline;
	float: left;
}

#theme_list ul {
	display: none;
	position: absolute;
	bottom: 50px;
	left: 30px;
	width: 320px;
	margin: 0;
	padding: 0;
	z-index: 9999;
	background-color: #fff;
	max-height: 322px;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	border: 2px solid #e4e4e4;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}

#theme_list ul li {
	font-family: "open-sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	border-bottom: 2px solid #e4e4e4;
	background: #fff;
	padding: 0 15px;
	width: 290px;
	color: #444;
}

#theme_list ul li:last-child {
	border-bottom: none;
}

#theme_list ul li a {
	font-family: "open-sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 52px;
	font-weight: 400;
	color: #444;
	text-decoration: none;
}

.center ul li ul li:first-child {

}

.center ul li ul li:last-child {
	margin: 0 0 0 0;
}

li.purchase {
	position: absolute;
	top: 9px;
	right: 100px;
}

li.purchase a {
	display: inline-block;
	font-family: "open-sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 52px;
	background: #57ad68;
	color: #fff;
	text-decoration: none;
	padding: 0 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 4px;
}

li.purchase a span {
	
}

li.purchase a:hover {
	background: #5fbe72;
}

li.remove_frame {
	position: absolute;
	top: 12px;
	right: 30px;
}

li.remove_frame a {
	display: inline-block;
	font-family: "museo-sans-rounded", Arial, sans-serif;
	color: #444;
	font-size: 30px;
	font-weight: 100;
	text-decoration: none;
	width: 48px;
	height: 48px;
	line-height: 48px;
	border: 2px solid #444;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	text-align: center;
}

li.remove_frame a:hover {
	color: #999;
	border: 2px solid #999;
}

#iframe {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	padding-bottom: 80px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

/* Preview hover styles */
#theme_list ul li {
	position:relative;
}
.product-preview{
	border: 1px solid #444444;
	position:absolute;
	left:100%;
	top:32px;
	margin-left:1px;
	background:#222;
	display:none;
}
.product-preview img{
	display:block;
	opacity:0;
}

#theme_list ul li a:hover .product-preview{
	display:block;
}
#theme_list ul li a:hover .product-preview img{
	display:block;
	opacity:1;
}

.product-type { 
	display: inline-block;
    background: #f2f2f2;
    color: #777;
    float: right;
    font-size: 13px;
    line-height: 1;
    margin: 0;
    padding: 7px 14px;
    margin-top: 12px;
}

a:hover .product-type {
	background: #57ad68;
	color: #FFFFFF;
}

#resize {
	float: left;
	font-size: 26px;
	margin: 27px 0 0 28px;
}

#resize ul {
	display: block;
}

#resize ul li {
	float: left;
}

#resize ul li.window {
	margin-right: 15px;
}

#resize ul li.tablet {
	margin-right: 9px;
}

#resize ul li.phone {
	margin-right: 0;
}

#resize ul li a {
	color: #444;
	text-decoration: none;
}

#resize ul li a:hover {
	color: #777;
}

.ipad-resize {
	height: 1024px!important;
	width: 768px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	margin: 75px auto 155px auto !important;
	background: #0a0809;
	padding: 75px 10px;
}

.ipad-resize #iframe {
	position: relative;
	padding-bottom: 0;
}

.iphone-resize {
	height: 568px !important;
	margin: 40px auto 120px auto !important;
	width: 320px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 75px 10px;
	background: #0a0809;
}

.iphone-resize #iframe {
	position: relative;
	padding-bottom: 0;
}

@media only screen and (max-width: 959px) {


#theme_list {
	display: none;
}


}
